file-preview {
  margin: 10px;
}

file-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100px;
  position: relative;
  * {
    box-sizing: border-box;
  }
  input {
    display: none;
  }
}

file-preview {
  z-index: 100;
  display: flex;
  justify-content: space-around;
}

.dropzone-placeholder {
  width: 100%;
  text-align: center;
}

.overlay-layer {
  box-shadow: inset 0 0 0 3px #1B95E0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropzone {
  padding: 1em;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #ccc;
  text-align: center;
  display: flex;
  align-items: center;
  &.dragover {
    border-color: #000;
    color: #000;
  }
}

.uploader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
