pre {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 10px 15px;
  border-radius: 4px;
  background: white;
}
button {
  margin-right: 5px;
  margin-bottom: 5px;
}

