<div class="profile-pic-container">

  <fire-photo #coverUploader id="coverPic" [disabled]="disabled" [loadingTemplate]="coverLoading" (progress)="onCoverProgress($event)">
    Upload Cover Photo
  </fire-photo>

  <div class="container">
    <fire-photo #profileUploader id="profilePic" [src]="defaultProfilePhoto" [disabled]="disabled" [thumbHeight]="200" [thumbWidth]="200">
      Upload Profile Photo
    </fire-photo>

    <div class="my-3 float-right">
      <button *ngIf="!disabled" class="btn" (click)="cancel(coverUploader, profileUploader)">
        Cancel
      </button>

      <button *ngIf="!disabled" class="btn btn-orange" (click)="saveChanges(coverUploader, profileUploader)">
        Save Changes
      </button>

      <button *ngIf="disabled" class="btn btn-orange" (click)="disabled = false">
        Edit Profile
      </button>
    </div>

  </div>

  <ng-template #coverLoading>
    {{ (coverUploader.progress | async)?.percentage }}%
  </ng-template>

</div>