/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import 'app/file-uploader/file-uploader';

body {
  font-family: 'Roboto Mono', monospace;
}
