<div class="file-item file-{{snapshot.state}}">
  <div class="file-thumb"
       [style.background]="sanitizer.bypassSecurityTrustStyle(extensions[snapshot.extension])">
    <span *ngIf="!snapshot.thumbnail && !extensions[snapshot.extension]?.includes('url')">
      {{ snapshot.extension }}
    </span>
    <div *ngIf="snapshot.thumbnail" class="file-thumb-img">
      <img [src]="snapshot.thumbnail | safeUrl">
    </div>
  </div>
  <div class="file-overlay">
    <div class="file-success-icon"></div>
    <div class="file-error-icon"></div>
  </div>
  <div *ngIf="showProgress" class="file-progress-bar">
    <div class="file-bar"
         [style.transform]="'translate3d(' + (-100 + snapshot.progress.percentage) + '%,0,0)'"></div>
  </div>
</div>
<div *ngIf="showDetails" class="file-details">
  <div class="file-detail file-name">
    <span>{{ snapshot.name }}</span>
  </div>
  <div class="file-detail file-size">
    <span>{{ snapshot.progress.totalBytes | fileSize }}</span>
  </div>
</div>
<div *ngIf="showRemove" class="file-remove">
  <button class="file-remove-button" (click)="removeClicked($event)">
    <div class="file-remove-icon"></div>
  </button>
</div>
